@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


:root {
    --primary-color: #ae29a0;
    --secundary-color: #5b3871b3;
    --tertiary-color: #5921619c;
    
}

body {
    background-image: url(./assets/pexels-monstera-6238068.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 16px;
    font-family: Lato, sans-serif;
    
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #F7F7F7;
    box-shadow: 5px 5px 5px  var(--tertiary-color);
    border-radius: 20px;
   
}

.intro {
    font-size:16px
}

.title {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center; 
}

.tipsForm{
    padding-left: 20px;
    padding-right: 20px;
}

.formInput {
    background: white;
    width: 40px;
    padding: 5px 5px;
}

.formInput:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}

.formSelect {
    background-color: white;
    width: 160px;
    padding: 5px;
}

.formSelect:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}


.formSubmit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
    box-shadow: 2px 3px 2px #3d213a;
 }

.totalTip {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
 

